body {
    font-family: Monospace;
    margin: 20px;
}

h1.main_page {
    font-variant: small-caps;
}

.notable_classes_table td {
    width:auto;
    height: 50px; 
}

.notable_classes_table{
    margin-left:50px;
}

.main_table {
    width: 100%;
    padding: 0px;
    border-style: none;
    margin-bottom: 20px;
    vertical-align: middle;
}

.references {
    font-size: 20px
}

.picture_cell {
    width: 200px;
    vertical-align: middle;
    text-align: center;
}

.picture {
  border: 0px;
  height: 300px;
  width: auto;
}

.bouncer_picture {
    padding-top: 20px; 
    padding-bottom: 10px;
    width: 130px;
    height: auto;
    vertical-align: middle;
  }

.bouncer_picture img:hover {
    opacity: .5;
    border: blue solid 1px; 
}

.info_cell {
    width:100%;
    vertical-align: text-top;
    padding: 0 0 0 20px;
    text-align: left;
}

.contact_info {
    font-weight: bold;
}

:visited, :link {
  text-decoration: none;
}


.vcomm{
    height: 40px;
    width: auto;
    padding-left: 25px; 
}

.myimage { 
    float: right;
    padding-left: 25px;
    padding-right: 100px;
    position: relative; 
    top: -20px; 
} 

#indented{
    position: relative; 
    margin-left: 10px;
    margin-right: 100px;
    margin-top: 5px; 
}

#idt{
    position: relative; 
    padding-left: 25px;
}

.container:hover .bouncer_picture {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    bottom: 31px; 
    left: 5.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }